<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% load staticfiles %}
<link href="{% static 'css/AdminHome.css' %}" rel="stylesheet">
 <script src="{% static 'js/AdmnHomePage.js' %}" ></script>

<ul id="myMenu">
  <li><a href="/addcity/">AddCity</a></li>
  <li><a href="/addstate/">AddState</a></li>
  <li><a href="/adddonor/">Donor</a></li>
  <li><a href="/addorg/">Organisation</a></li>
  <li><a href="/addsug/">Suggetions</a></li>

</ul>

</body>
</html>