<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="0">
    <tr>

        <td>
            <font size="8" face="Matura MT Script Capitals">
                Catering
            </font>
        </td>
    </tr>

</table>
{% load staticfiles %}
<link href="{% static 'css/Welcome.css' %}" rel="stylesheet">
<div>

</div>
<div class="topnav">
  <a href="//">Home</a>
  <a href="/adminlogin/">Admin</a>
  <a href="/user/">User Registration</a>
  <a href="/userlogin/">User Login</a>
  <a href="/contact/">ContactUs</a>



</div>




</body>

</html>