<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="//" method="post">
    <div>
        <input type="text" placeholder="Name" name="t1" required>
    </div>
    <div>
        <input type="number" placeholder="Contact No" name="t2" required>
    </div>
    <div>
        <input type="email" placeholder="Email" name="t3" required>
    </div>
    <div>
        <select name="t4">
            <option>Qualification</option>
            <option>B Tech</option>
            <option>BE</option>
            <option>MCA</option>
            <option>MBA</option>
            <option>M Tech</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>
</body>
</html>