<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/studentwelcome/" method="post">
    {% csrf_token %}
<table align="center"  border="2">
    <tr>
        <td>
            <a href="//">Student Leave Request</a>
        </td>
        <td>
            <a href="//">Student Transfer Request</a>
        </td>
        <td>
            <a href="//">Exam Eligibility Request</a>
        </td>
    </tr>

</table>
    </form>
</body>
</html>