<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminLogin</title>
</head>
<body>
{% include "Index.html" %}
<form action="/adminlogindetails/" method="post">
    {% csrf_token %}
<table align="center" border="2">
    <tr>
        <td>
            <input type="text" name="u1" placeholder="Username" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" name="u2" placeholder="Password" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Login">
        </td>
    </tr>
</table>
    </form>
</body>
</html>