<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table align="center" border="1">
    <tr>
        <td><a href="/adminlogin/"><h3>AdminLogin</h3></a> </td>


        <td><a href="//"><h3>DoctorLogin</h3></a> </td>


        <td><a href="//"><h3>PatientRegister</h3></a> </td>


        <td><a href="//"><h3>PatientLogin</h3></a> </td>


        <td><a href="//"><h3>Finance Info</h3></a> </td>


        <td><a href="//"><h3>EmployeeLogin</h3></a> </td>
    </tr>
</table>
</body>
</html>